/* src/components/chat/MiniChatManager.css */
.mini-chat-manager {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
}

.mini-chat-wrapper {
  pointer-events: all;
}
